
#content {
	max-width: 80%;
	margin-left: 0;
	margin-right: auto;
}
.nav {
	max-width: 15em;
	float: right;
	overflow: auto;
	font-size: 16px;
	position: fixed;
	z-index: 10;
        right: 0;
        top: 10%;
        width: 20%;
}
